<div class="panel panel-default">
    <div class="panel-heading"><span class="lead">User Profile </span></div>
    <div class="formcontainer">
        <form name="userController.userForm" class="form-horizontal">
            <input type="hidden" ng-model="userController.user.id"/>

            <div class="row" ng-if="authenticated && !admin">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-lable" for="name">Name</label>
                    <div class="col-md-7">
                        <input type="text" ng-model="userController.user.name" id="name"
                               class="username form-control input-sm" placeholder="Name" required
                               ng-minlength="3"/>
                        <div class="has-error" ng-show="userForm.$dirty">
                            <span ng-show="userForm.name.$error.required">This is a required field</span>
                            <span ng-show="userForm.name.$error.minlength">Minimum length required is 3</span>
                            <span ng-show="userForm.name.$invalid">This field is invalid </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="authenticated && !admin">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-lable" for="email">Email</label>
                    <div class="col-md-7">
                        <input type="email" ng-model="userController.user.email" id="email"
                               class="email form-control input-sm" placeholder="Email" required/>
                        <div class="has-error" ng-show="userForm.$dirty">
                            <span ng-show="userForm.email.$error.required">This is a required field</span>
                            <span ng-show="userForm.email.$invalid">This field is invalid </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="authenticated && admin">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-lable" for="role">User Role</label>
                    <div class="col-md-7">
                        <input type="text" ng-model="userController.user.role" id="role"
                               class="username form-control input-sm" placeholder="Enter user role in upper case" required/>
                        <div class="has-error" ng-show="userForm.$dirty">
                            <span ng-show="userForm.role.$error.required">This is a required field</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-actions floatRight">
                    <input type="submit" value="{{!userController.user.id ? 'Add' : 'Update'}}"
                           class="btn btn-primary" ng-disabled="userForm.$error.required" ng-click="userController.submit()">
                    <button type="button" ng-click="userController.reset()" class="btn btn-info"
                            ng-disabled="userForm.$pristine">Reset Form
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>